/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  height: calc(100vh - var(--ifm-navbar-height));
  min-height: 320px;
  display: flex;
  flex-direction: column;
  background-color: var(--ifm-background-surface-color);
}
